@model IEnumerable<prj1091613.Models.TableDrama1091613>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "推推影劇";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>推推影劇</h2>

<style>
    body {
        cursor: url('../images/prj.ico'),auto
    }
</style>

@if (Model.Count() == 0)
{

    <div class="alert alert-info">
        <strong>無推劇紀錄</strong>
        <a href="/Home/DramaCreate" style="float:right">新增推薦</a>
    </div>
}
else
{
    <style>
        tr:nth-child(odd) {
            color: black;
            background-color: lightgreen;
        }

        tr:nth-child(even) {
            color: black;
            background-color: white;
        }
    </style>

    <a href="/Home/DramaCreate" class="btn btn-info" style="float:right">新增推薦</a>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DName)
                </td>
                <td>
                    <a href="@Url.Action("DramaEdit")?DId=@item.DId" class="btn btn-warning">編輯</a>
                    <a href="@Url.Action("DramaDelete")?DId=@item.DId"
                       class="btn btn-danger"
                       onclick="return confirm('確定要刪除 @item.DId 紀錄嗎?');">
                        刪除
                    </a>
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Drama", new { page }))
}
